<%= require('../../public/header.ejs')() %>
<div class="content-box">
    <div class="content-box-head">列表</div>
    <div class="content-box-body" id="appTpl">
        
    </div>
</div>
<!-- 底部 -->
<%= require('../../public/footer.ejs')() %>
