.row {
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
}

.col-md {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12 {
        float: left;
        position: relative;
        *position: static;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-1 {
        width: 8.33333333%;
    }

    &-2 {
        width: 16.66666667%;
    }

    &-3 {
        width: 25%;
    }

    &-4 {
        width: 33.33333333%;
        *width: 31.33333333%;
    }

    &-5 {
        width: 41.66666667%;
    }

    &-6 {
        width: 50%;
    }

    &-7 {
        width: 58.33333333%;
    }

    &-8 {
        width: 66.66666667%;
    }

    &-9 {
        width: 75%;
    }

    &-10 {
        width: 83.33333333%;
    }

    &-11 {
        width: 91.66666667%;
    }

    &-12 {
        width: 100%;
    }

    &-pull {
        &-1 {
            right: 8.33333333%;
        }

        &-2 {
            right: 16.66666667%;
        }

        &-3 {
            right: 25%;
        }

        &-4 {
            right: 33.33333333%;
        }

        &-5 {
            right: 41.66666667%;
        }

        &-6 {
            right: 50%;
        }

        &-7 {
            right: 58.33333333%;
        }

        &-8 {
            right: 66.66666667%;
        }

        &-9 {
            right: 75%;
        }

        &-10 {
            right: 83.33333333%;
        }

        &-11 {
            right: 91.66666667%;
        }

        &-12 {
            right: 100%;
        }

        &-0 {
            right: auto;
        }
    }

    &-push {
        &-1 {
            left: 8.33333333%;
        }

        &-2 {
            left: 16.66666667%;
        }

        &-3 {
            left: 25%;
        }

        &-4 {
            left: 33.33333333%;
        }

        &-5 {
            left: 41.66666667%;
        }

        &-6 {
            left: 50%;
        }

        &-7 {
            left: 58.33333333%;
        }

        &-8 {
            left: 66.66666667%;
        }

        &-9 {
            left: 75%;
        }

        &-10 {
            left: 83.33333333%;
        }

        &-11 {
            left: 91.66666667%;
        }

        &-12 {
            left: 100%;
        }

        &-0 {
            left: auto;
        }
    }

    &-offset {
        &-1 {
            margin-left: 8.33333333%;
        }

        &-2 {
            margin-left: 16.66666667%;
        }

        &-3 {
            margin-left: 25%;
        }

        &-4 {
            margin-left: 33.33333333%;
        }

        &-5 {
            margin-left: 41.66666667%;
            *margin-left: 38.2%;
        }

        &-6 {
            margin-left: 50%;
        }

        &-7 {
            margin-left: 58.33333333%;
        }

        &-8 {
            margin-left: 66.66666667%;
        }

        &-9 {
            margin-left: 75%;
        }

        &-10 {
            margin-left: 83.33333333%;
        }

        &-11 {
            margin-left: 91.66666667%;
        }

        &-12 {
            margin-left: 100%;
        }

        &-0 {
            margin-left: 0%;
        }
    }
}